@model List<Team>


<a class="btn btn-primary" asp-action="Create">Create</a>
</h2>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Job</th>
                <th scope="col">Image</th>
            </tr>


        <td>

            <a>        </a>



        </td>
        </thead>
